{% extends 'sensor/base.html' %}
{% load static %}
{% block content %}
<div class="container shadow-sm rounded ctop text-center mt-5">
    <h1 class="titulo">Login</h1>
</div>
<div class="container cbottom shadow rounded">
    <div class="row mt-3 mb-3">
        <div class="col-6 dados">
            <h3>Última leitura: {{datault|slice:"1:-1"}}H</h3>
            <h3>Temperatura: {{tempult}}ºC</h3>
            <h3>Umidade: {{umidult}}%</h3>
            <h3>CPU: {{tcpu|slice:"1:-6"}}.{{tcpu|slice:"-6:-4"}}ºC</h3>
        </div>
        <div class="col-6">
            <div class="checkbox light">
                <label for="checkboxlight">
                    <h3>Luz: </h3>
                </label>
                <input type="checkbox" id="checkboxlight" class="pull-right" data-toggle="toggle" data-style="ios"
                    data-on="Ligada" data-off="Desligada" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="checkbox fan">
                <label for="checkboxfan">
                    <h3>Ventilação: </h3>
                </label>
                <input type="checkbox" id="checkboxfan" class="pull-right" data-toggle="toggle" data-style="ios"
                    data-on="Ligada" data-off="Desligada" data-onstyle="success" data-offstyle="danger" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="alert alert-dismissible" style="display:none">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid shadow-sm rounded ctop text-center mt-5">
    <h1>Gráficos</h1>
</div>
<div class="container-fluid cbottom shadow rounded">
    <div class="row mt-3 mb-3 text-center">
        <!-- <div class="text-center mb-5"> -->
        <div class="col-6">
            <h1>Últimas 24 horas</h1>
            <canvas id="hoje"></canvas>
        </div>
        <!-- <div class="text-center mb-5"> -->
        <div class="col-6">
            <h1>Desde 23/01/2020</h1>
            <canvas id="todos"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var datahj = JSON.parse('{{ datahj|safe }}');
    var temphj = JSON.parse('{{ temphj|safe }}');
    var umidhj = JSON.parse('{{ umidhj|safe }}');
    var datatd = JSON.parse('{{ datatd|safe }}');
    var temptd = JSON.parse('{{ temptd|safe }}');
    var umidtd = JSON.parse('{{ umidtd|safe }}');
    var vent = JSON.parse('{{ vent|safe }}');
    var luz = JSON.parse('{{ luz|safe }}');
</script>
<script src="{% static 'sensor/index.js' %}"></script>
{% endblock %}